{% extends 'AdminBundle::layout.html.twig' %}

{% block section %}
    <h1>QuizQuestionsRelations creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_quizquestionsrelations') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
