{% extends 'AdminBundle::layout.html.twig' %}

{% block section %}

    <h1>New quiz questions</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('acme_admin_quiz_quizquestions_index') }}" title="Back to the list">
                Back to the list
            </a>
        </li>
    </ul>

{% endblock %}
