<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Database Error</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Database Error</h1>
            <p>Error connecting the database. The archive doesn't not exists or it was unable to connect it.</p>
        </div>
    </body>
</html>