{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    
    <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}" title="Back to the home page">Home</a></li>
        <li class="active">APIs</li>
    </ol>

    <div class="alert alert-warning"><h3>Under construction</h3></div>

    {% include '::default/footer.html.twig' %}
</div>
{% endblock %}