{% extends 'AdminBundle::layout.html.twig' %}

{% block section %}
    <h1>Topics edit</h1>

    <a href="{{ path('admin_topics') }}">
        Back to the list
    </a>
   
    {{ form(edit_form) }}

    {{ form(delete_form) }}
    
{% endblock %}
