{% extends 'AdminBundle::layout.html.twig' %}

{% block section %}

    <h1>New topic</h1>

    {{ form(form) }}

    <a href="{{ path('admin_topics') }}" class="btn btn-default">
        Back to the list
    </a>

{% endblock %}
